*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  background-color: #FFFFFF;
  }
.common-btn{
  background-color: #3B82F6;
  color: #FFFFFF;
  padding:12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border:none;
  cursor: pointer;
  }
  .nav-container{
    max-width: 1551px;
 width: 100%;
 height: 98px;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0 60px;
}

.nav-parent{
  max-width:1320px;
  width:100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-parent img{
width: 145px;
height: auto;
}
.nav-parent .nav-menu{
  display: flex;
  gap:24px;
  list-style: none;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 16px;

}
.nav-parent .nav-menu li a{
  text-decoration: none;
  color:#575757;
}

.nav-parent .navbar-btn{
  width: 188px;
  height: 48px;
}

/* header */
.hero-container{
  max-width:1551px ;
 width: 100%;
  height: 786px;
  background-image:linear-gradient( to right, rgba(0,0,0,0.6)30%, rgba(0,0,0,0)70%),url('./assets/banner.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.hero-content h1{
  font-size:80px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 40px;
  color: #FFFFFF;
}

.hero-content p{
  color: rgba(255, 255, 255, 0.9);
  width: 800px;
  font-weight:400;
  font-size: 22px;
  line-height: 24px;
margin-bottom: 90px;
}
.hero-button{
  width: 282px;
  height: 74px;
  margin-top: 90px;
}

.common-section{
  padding:80px 56px 43px;
}

.speakers-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 60px;
  gap:20px;
}
.speakers-title{
  text-align: center;
  font-weight: bold;
  font-size:56px ;
margin-bottom:56px;

}

.speakers-card{
  border: 1px solid rgb(217, 214, 214);
  border-radius: 10px;
  overflow: hidden;
}
.speakers-card .card-text{
  display: grid;
  gap:8px;
  padding:24px;
}
.speakers-card .card-text span{
  color: #3B82F6;
  font-size: 12px;
  font-weight: 600;
}

.speakers-card .card-text h3{
  font-size: 20px;
  font-weight: bold;
}
.speakers-card .card-text p{
  font-size: 14px;
  font-weight: 400;
}
.pricing-section{
padding: 0 56px 43px;
}
.pricing-container{
 padding: 0 60px 80px;
}
.pricing-container> h2, 
.pricing-container> p {
 text-align:center;
} 
.pricing-parent{
  display: grid;
  grid-template-columns:repeat(3, 1fr) ;
  padding:48px 50px;
  margin: auto;
  
}
.pricing-title{
  font-weight: bold;
  font-size: 48px;
}
.pricing-p{
  font-weight: 400;
  font-size: 16px;
  padding-top: 12px;
}
.pro-card{
 background:#0f1f30;
 color:white;
 
}
.pricing-card{
  display: flex;
  flex-direction: column;
  gap:15px;
  padding: 24px;
  margin: 10px;
  border:1px solid rgb(100, 98, 98);
  border-radius: 10px;
}

.pricing-card-button{
  padding: 11px 0;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
}
.standard-btn{
  border:1px solid #3B82F6;
  color: #3B82F6;
}
.pro-btn{
  background-color:#3B82F6;
  color:white;
  border:1px solid #3B82F6;
}
.pricing-card .card-type{
font-weight: 600;
font-size: 13px;
color: #888888;
}
.pricing-card .pro-card-type{
font-weight: 600;
font-size: 13px;
color:#3B82F6;
}
.pricing-card .card-price{
font-weight: bold;
font-size: 44px;
color: #0D1B2A;
}
.pricing-card .pro-card-price{
  font-weight: bold;
font-size: 44px;
}
.pricing-card p{
font-weight: 400;
font-size: 13px;
color: #888888;
}

.pricing-card .card-list-item{
font-weight: 400;
font-size: 14px;
color:#333333 ;
line-height:21px ;
}
.pricing-card .pro-card-list-item{
  font-weight: 400;
font-size: 14px;
color:#FFFFFF ;
line-height:21px ;
}

